modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "zAroQj9LdeSvAtcCoQUWVnloCPAqpNV0BdHS8YSibnaCLxBAPbKrz6NKyCPuiP4K"
FRONTEND_URL = "https://1eb4da9b-3cf8-4af1-94ee-8b18f6adc4d4-00-9a4aheqrxu5v.picard.replit.dev"
